/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* 배경색과 기본 텍스트 색상만 지정 */
    background-color: #F8FAFC;
    color: #102A43;
    -webkit-font-smoothing: antialiased;
  }
}
