@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 16, 42, 67; /* brand-navy */
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f8fafc; /* 살짝 푸른 빛이 도는 아주 연한 회색 배경 */
}

/* 세련된 스크롤바 */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}